### Heros of Pymoli Data Analysis
* Out of the 780 purchases male players were the biggest spenders amounting to a sum of 1967.64 dollars out of at total revenue.
* Age range 20-24 showed to be the biggest source of revenue bringing in  1114.06 dollars out of the total revenue. 
* The most profitable item (Oathbreaker) also happened to be the most popular item players bought.

## Importing the data frame

In [52]:
import pandas as pd
import numpy as np

purchase_data = 'Resources/purchase_data.csv'

purchase_df = pd.read_csv(purchase_data)
purchase_df.head(5)
#purchase_df.count()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
cl_player_df = purchase_df.loc[:,['SN','Price','Item ID']]
player_count = cl_player_df.drop_duplicates(subset = 'SN')
#cl_player_df['SN'].unique
#purchase_df.count()
#player_count = cl_player_df.apply(lambda x: x.nunique())
#player_count.value_counts()

In [3]:
print(len(player_count))
#player_count['SN'].value_counts()

576

## Player Count Table

In [4]:
#Remember to display this in a table here
#player_count.describe()
total_players = pd.DataFrame({"Total Players": [len(player_count)]})
total_players

   Total Players
0            576

In [5]:
cl_purchase_df = purchase_df.loc[:,['Item ID','Price','Purchase ID']]
#cl_purchase_df.head(5)

In [6]:
unique_items = cl_purchase_df.drop_duplicates(subset = 'Item ID')
#cl_purchase_df['Item ID'].value_counts()
#unique_items['Item ID'].value_counts()

In [7]:
n_unique_items = len(unique_items)
print(len(unique_items))

183

In [8]:
#average_price = unique_items['Price'].mean()
average_price = cl_purchase_df['Price'].mean()
#print(round(average_price,3))
print(round(average_price,2))

3.05

In [9]:
n_purchases = cl_purchase_df['Purchase ID'].count()
print(n_purchases)

780

In [10]:
total_revenue = cl_purchase_df['Price'].sum()
print(total_revenue)

2379.77

## Purchasing Analysis Table

In [11]:
purchase_analysis = pd.DataFrame({"Numer of Unique Items": [len(unique_items)],
                                 "Average Price": "$"+ str(round(average_price,2)),
                                 "Number of Purchases": n_purchases,
                                 "Total Revenue": "$" + str(total_revenue)})
purchase_analysis

   Numer of Unique Items Average Price  Number of Purchases Total Revenue
0                    183         $3.05                  780      $2379.77

In [12]:
cl_demographics_df = purchase_df.loc[:,['SN','Age', 'Gender']]
cl_demographics_df.head(5)
cl_demographics_df.count()

SN        780
Age       780
Gender    780
dtype: int64

In [13]:
unique_players = cl_demographics_df.drop_duplicates(subset = 'SN')
unique_players.count()

SN        576
Age       576
Gender    576
dtype: int64

In [14]:
gp_gender = unique_players.groupby(by='Gender')
gender_count = gp_gender['SN'].count()
p_gender = ((gender_count)/(len(unique_players)))*100

## Gender Demographics Table

In [15]:
gender_demographics = pd.DataFrame({"Total Count": gender_count,
                                   "Percentage of Players": round(p_gender,2)})
gender_demographics = gender_demographics.sort_values(by = "Total Count", ascending = False)
gender_demographics

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [16]:
cl_purchase_gender_df = purchase_df.loc[:,['Purchase ID','SN', 'Gender', 'Price']]
gp_purchase_g = cl_purchase_gender_df.groupby(by = 'Gender')
p_sum = gp_purchase_g['Price'].sum()

avg_Total_g = ((p_sum)/(gender_count))
avg_Total_g = avg_Total_g.round(2)
avg_Total_g = avg_Total_g.apply(str)

#use this one for the Avg Total Purchase per Person
#avg_Total_g

#use this one for average purchase price and round, column = Price
#gp_purchase_g.mean()
purchase_mean_g = gp_purchase_g['Price'].mean()
purchase_mean_g = purchase_mean_g.astype(float).round(2)
purchase_mean_g = purchase_mean_g.apply(str)

#use this one for the purchase count column = Purchase ID
purchase_count_g = gp_purchase_g.SN.count()
#purchase_count_g['Purchase ID'].count()

#use this one for Total Purchase Value column = Price
#gp_purchase_g.sum()
g_totalpurchase = gp_purchase_g['Price'].sum()
g_totalpurchase = g_totalpurchase.round(2)
g_totalpurchase = g_totalpurchase.apply(str)

#780 0.0456  2379.77

## Purchase Analysis (Gender)

In [17]:
purchase_analysis_gender = pd.DataFrame({"Purchase Count": purchase_count_g,
                                        "Average Purchase Price": "$" + purchase_mean_g,
                                        "Total Puchase Vlaue": "$" + g_totalpurchase,
                                        "Avg Total Purchase per Person": "$" + avg_Total_g})
purchase_analysis_gender

,Purchase Count,Average Purchase Price,Total Puchase Vlaue,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [18]:
age_bins =[0,9,14,19,24,29,34,39,45]
age_label = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_demo = unique_players.loc[:,['SN','Age']]
#age_demo.count()
age_demo = age_demo = pd.cut(age_demo["Age"],age_bins, labels = age_label)
age_demo = age_demo.value_counts()
age_demo

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age, dtype: int64

In [19]:
age_demo_p = (age_demo)/(len(unique_players))*100
age_demo_p = age_demo_p.round(2)
age_demo_p

20-24    44.79
15-19    18.58
25-29    13.37
30-34     9.03
35-39     5.38
10-14     3.82
<10       2.95
40+       2.08
Name: Age, dtype: float64

## Age Demographics Table

In [20]:
age_demographics = pd.DataFrame({"Total Count": age_demo,
                                "Percentage of Players": age_demo_p})
age_demographics.sort_index()

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

In [21]:
purchase_analysis_age = purchase_df.loc[:,['Item ID','SN','Age', 'Price']]
#purchase_analysis_age = purchase_analysis_age.drop_duplicates(subset = 'Item ID')
purchase_analysis_age["Age Range"] = pd.cut(purchase_analysis_age["Age"],age_bins, labels = age_label)
gp_purchase_analysis_age = purchase_analysis_age.groupby("Age Range")

#use this one for average purchase price
gp_purchase_analysis_age.Price.mean().round(2)

Age Range
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [22]:
#use this one for Purchase Count
gp_purchase_analysis_age['Item ID'].count()

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Item ID, dtype: int64

In [23]:
a_sum = gp_purchase_analysis_age['Price'].sum()
a_sum

Age Range
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [24]:
#s = [23,28,136,365,101,73,41,13]
#avg_totalp_age = ((a_sum)/(s))
#avg_totalp_age

In [25]:
s_2 = purchase_analysis_age.drop_duplicates(subset = 'SN')

#avg_totalp_age.round(2)
gp_s = s_2.groupby("Age Range")
s_3 = gp_s['Age'].count()

In [26]:
avg_totalp_age = ((a_sum)/(s_3))
avg_totalp_age

Age Range
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

## Purchase Analysis (Age)

In [27]:
purchase_analysis_table = pd.DataFrame({"Purchase Count": gp_purchase_analysis_age['Item ID'].count(),
                                        "Average Purchase Price": "$" + gp_purchase_analysis_age.Price.mean().round(2).apply(str),
                                        "Total Puchase Vlaue": "$" + a_sum.round(2).apply(str),
                                        "Avg Total Purchase per Person": "$" + avg_totalp_age.round(2).apply(str)})
purchase_analysis_table

,Purchase Count,Average Purchase Price,Total Puchase Vlaue,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [28]:
top_sp = cl_player_df.groupby(by=('SN'))
#cl_player_df['SN'].value_counts()
#top_sp.head(5)

In [32]:
ts_avg = top_sp['Price'].mean()
ts_total = top_sp['Price'].sum()

## Top Spenders

In [40]:
ts_analysis = pd.DataFrame({"Purchase Count": top_sp['Price'].count(),
                            "Average Purchase Price": "$" + ts_avg.round(2).apply(str),
                            "Total Puchase Numeric": ts_total,
                           "Total Purchase Value": "$"+ ts_total.round(2).apply(str)})
ts_analysis = ts_analysis.sort_values(by = "Total Puchase Numeric", ascending = False)
#ts_analysis.reset_index(inplace=True,drop=True)
ts_table = ts_analysis.loc[:,['Purchase Count','Average Purchase Price','Total Purchase Value']]
ts_table.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                   $3.4               $13.62
Iskadarya95               3                  $4.37                $13.1

In [41]:
cl_item_df = purchase_df.loc[:,['Item Name','Item ID','Price']]
gp_items_df = cl_item_df.groupby(['Item ID','Item Name'])
#cl_item_df.head(5)
#popular_items
item_count = gp_items_df['Item ID'].count()
item_tprice = gp_items_df['Price'].sum()
item_mean  = gp_items_df['Price'].mean()

In [42]:
item_count.head()

Item ID  Item Name
0        Splinter              4
1        Crucifer              3
2        Verdict               6
3        Phantomlight          6
4        Bloodlord's Fetish    5
Name: Item ID, dtype: int64

## Most Popular Items

In [46]:
popular_analysis = pd.DataFrame({"Purchase Count": item_count,
                                 "Item Price": "$" + item_mean.round(2).apply(str),
                                 "Total Purchase Value": "$" + item_tprice.round(2).apply(str)})
popular_analysis.sort_values(by = 'Purchase Count', ascending = False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.9,$44.1
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

In [51]:
popular_analysis = pd.DataFrame({"Purchase Count": item_count,
                                 "Item Price": "$" + item_mean.round(2).apply(str),
                                 "Total Purchase Numeric": item_tprice.round(2),
                                 "Total Purchase Value": "$" + item_tprice.round(2).apply(str)})
popular_analysis = popular_analysis.sort_values(by = 'Total Purchase Numeric', ascending = False)
popular_t = popular_analysis.loc[:,['Purchase Count','Item Price','Total Purchase Value']]
popular_t.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.1
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.8